{% extends 'article/base.html' %}
{% load static from staticfiles %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock head %}

{% block content %}
    <article>
        <div class="container center_content">
            <div class="banner">
                <p data-scroll-reveal="enter top over 2s">我们不停的翻弄着回忆，却再也找不回那时的自己</p>
                <p data-scroll-reveal="enter left over 2s after 1s">人生，是一场盛大的遇见。若你懂得，就请珍惜。</p>
                <p data-scroll-reveal="enter bottom over 2s after 2s">无论下多久的雨，最后都会有彩虹；无论你多么悲伤，要相信幸福在前方等候.</p>
            </div>
            <div class="memorial_day">
                <div class="time_axis"></div>
                <ul>
                    <li class="n1"><a href="#">c语言入门</a>
                        <div class="dateview">2017-03</div>
                    </li>
                    <li class="n2"><a href="#">学习c++语法和思想</a>
                        <div class="dateview">2017-09</div>
                    </li>
                    <li class="n3"><a href="#">人生苦短 我用python</a>
                        <div class="dateview">2017-12</div>
                    </li>
                    <li class="n4"><a href="#">我正在努力</a>
                        <div class="dateview">Now</div>
                    </li>
                </ul>
            </div>

            <div class="about">
                <h2>Just about me</h2>
                 <ul>
                    <p>杨昊南，2017年考入西安理工大学计算机系，目前还未毕业，在校学习。本着对计算机的兴趣和热情，在大一时便加入学校计算机工作室学习编程语言，目前学过的技术有c，c++，python，django，html5+css3，javascript，ajax，bootstrap，jquery框架，mysql，redis。永远不敢说自己学的多么精通，基本掌握罢了。</p>
                    <p>大一刚开始学习编程语言时，首先接触的c语言（好像大多数程序猿的入门语言都是c语言），大一下学期一直在学习c语言，做过一段时间的acm（感觉太烧脑），后来学习c++（语法确实有难度，学了挺长时间），再后来被python征服（简单高效），开始接触python，学习python的语法和各种常用框架的使用。</p>
                </ul>
                <h2>About my blog</h2>
                <p>服务器：阿里云服务器</p>
            </div>
        </div>
    </article>
{% endblock content %}
